DATABASE_URL=postgresql://postgres.[project-ref]:[password]@[pooler-host]:6543/postgres
APP_SECRET_KEY=change_me
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
PORT=5000
